.case-study .tax-wrap {
  width: 100%;
  margin-top: 0;
}

.case-study .tax-wrap .tax-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.case-study .tax-wrap .tax-item {
  background-color: #EADCCF;
  text-align: center;
  height: 50px;
  line-height: 2.8;
}

.case-study .tax-wrap .tax-button {
  font-size: 18px;
  color: #8B7850;
  text-decoration: none;
  display: block;
}

.case-study .tax-wrap .tax-button > span {
  position: relative;
}

.case-study .tax-wrap .tax-button > span:before {
  background: center/8px 8px no-repeat url(../../common/img/taxo-arrow.png);
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}

.case-study .tax-wrap .tax-button.-active {
  background-color: #8B7850;
  color: #ffffff;
}

.case-study .archive-main {
  margin-top: 60px;
  margin-bottom: 80px;
}

.case-study .archive-main .container .archive-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.case-study .archive-item-wrap {
  width: 23%;
  margin-bottom: 40px;
}

.case-study .archive-item-wrap .archive-item-img {
  margin: 0;
}

.case-study .archive-item-wrap .archive-item-img img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.case-study .archive-item-wrap .archive-item-area {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
  color: #3E3E3E;
  line-height: 1.37;
}

.case-study .archive-item-wrap .archive-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  line-height: 1.37;
}

.case-study .archive-item-wrap .archive-item-link {
  font-size: 12px;
  color: #8B7850;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-top: 12px;
  letter-spacing: 0.08em;
}

.case-study .archive-item-wrap .archive-item-link:hover {
  opacity: 0.6;
}

.case-study .archive-item-wrap .archive-item-link svg {
  vertical-align: text-top;
}

.case-study .archive-item-wrap .archive-item-link span {
  padding-right: 5px;
  font-weight: bold;
}

.case-study .single-head {
  text-align: center;
}

.case-study .single-head span {
  font-size: 16px;
  font-weight: normal;
  position: relative;
}

.case-study .single-head span:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: inline-block;
  width: 180px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #383838;
}

.case-study .single-head .archive-title {
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.3;
}

.case-study .single-main {
  margin-top: 55px;
}

.case-study .swiper-group {
  position: relative;
}

.case-study .swiper-slide {
  text-align: center;
}

.case-study .swiper-button-prev, .case-study .swiper-button-next {
  display: inline-block;
  -webkit-perspective: 300px;
          perspective: 300px;
  position: absolute;
  height: 36px;
  width: 36px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.7;
}

.case-study .swiper-button-prev:hover, .case-study .swiper-button-next:hover {
  opacity: 0.6;
}

.case-study .swiper-button-prev:focus, .case-study .swiper-button-next:focus {
  outline: none;
}

.case-study .swiper-button-prev {
  background: url(../../common/img/swiper-arrow.png) no-repeat center center/contain;
}

.case-study .swiper-button-prev:after {
  content: "";
}

.case-study .swiper-button-next {
  background: url(../../common/img/swiper-arrow-next.png) no-repeat center center/contain;
}

.case-study .swiper-button-next:after {
  content: "";
}

.case-study .data-wrap {
  margin-top: 55px;
}

.case-study .data-wrap h2 {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: normal;
}

.case-study .data-wrap .data-table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.case-study .data-wrap .data-table tr {
  font-weight: normal;
}

.case-study .data-wrap .data-table tr:last-child th, .case-study .data-wrap .data-table tr:last-child td {
  border-bottom: solid 1px #9d9d9d;
}

.case-study .data-wrap .data-table th, .case-study .data-wrap .data-table td {
  background: #F9F4F0;
  border-color: #9D9D9D;
  font-size: 18px;
  line-height: 1.7;
  padding: 14px 19px;
  text-align: left;
  border-top: solid 1px #9D9D9D;
  font-weight: normal;
}

.case-study .data-wrap .data-table tr:nth-child(even) th, .case-study .data-wrap .data-table tr:nth-child(even) td {
  background: #fff;
}

.case-study .button-wrap {
  text-align: center;
  padding: 60px 0;
  margin: 0 auto;
}

.case-study .deco-button-frame {
  display: block;
  margin: 0 auto;
  position: relative;
}

.case-study .deco-button-frame::before {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-width: 1px;
  content: "";
  border-color: #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.case-study .deco-button-frame::after {
  background: center/29px 5px no-repeat url(../../common/img/button-frame-arrow.svg);
  content: "";
  position: absolute;
  top: 30%;
  width: 29px;
  height: 5px;
  right: -12px;
}

.case-study .frame-deco-button {
  display: inline-block;
  -webkit-perspective: 300px;
  perspective: 300px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #8B7850;
  color: #8B7850;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

@media (max-width: 767px) {
  .case-study.container {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
  }
  .case-study .tax-wrap .tax-list {
    display: block;
  }
  .case-study .tax-wrap .tax-item {
    width: 100%;
  }
  .case-study .tax-wrap .tax-button {
    font-size: 18px;
  }
  .case-study .tax-wrap .tax-button > span {
    position: relative;
  }
  .case-study .tax-wrap .tax-button > span:before {
    top: 0;
    left: 120px;
    width: 100%;
  }
  .case-study .tax-wrap .tax-button.-active {
    background-color: #8B7850;
    color: #ffffff;
  }
  .case-study .swiper-slide {
    text-align: center;
  }
  .case-study .swiper-slide img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .case-study .archive-main .container {
    padding: 0 20px;
  }
  .case-study .contents {
    margin: 20px 30px;
  }
  .case-study .swiper-button-prev {
    left: -5%;
  }
  .case-study .swiper-button-next {
    right: -5%;
  }
  .case-study .archive-list {
    margin: 60px 20px;
    margin-bottom: 20px;
  }
  .case-study .archive-item-wrap {
    width: 100%;
    margin-bottom: 40px;
  }
  .case-study .archive-item-wrap .archive-item-img {
    margin: 0;
  }
  .case-study .archive-item-wrap .archive-item-img img {
    width: 100%;
  }
  .case-study .archive-item-wrap .archive-item-area {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    color: #3E3E3E;
  }
  .case-study .archive-item-wrap .archive-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .case-study .archive-item-wrap .archive-item-link {
    font-size: 12px;
    color: #8B7850;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-top: 12px;
  }
  .case-study .archive-item-wrap .archive-item-link svg {
    vertical-align: text-top;
  }
  .case-study .archive-item-wrap .archive-item-link span {
    padding-right: 5px;
    font-weight: bold;
  }
  .case-study .button-wrap {
    width: 55%;
  }
  .case-study .button-wrap .button {
    background-color: #8B7850;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .case-study .data-table th {
    width: 30%;
  }
  .case-study .button-wrap {
    width: 13%;
  }
  .case-study .button-wrap .deco-button-frame {
    width: 94%;
  }
  .case-study .button-wrap .deco-button-frame:hover .frame-deco-button {
    color: #ffffff;
  }
  .case-study .button-wrap .deco-button-frame:hover .frame-deco-button:after {
    top: 0;
    left: 0;
    background-color: #8B7850;
  }
  .case-study .button-wrap .frame-deco-button {
    width: 100%;
    cursor: pointer;
  }
  .case-study .button-wrap .frame-deco-button:before, .case-study .button-wrap .frame-deco-button:after {
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }
  .case-study .button-wrap .frame-deco-button:after {
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
  }
  .case-study .swiper-slide {
    text-align: center;
  }
  .case-study .swiper-slide img {
    width: 700px;
    height: 470px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .case-study .archive-main .container {
    padding: 0 50px;
  }
  .case-study .archive-item-wrap {
    margin-right: 2.6%;
  }
  .case-study .archive-item-wrap:nth-of-type(4n) {
    margin-right: 0;
  }
  .case-study .tax-wrap .tax-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .case-study .tax-wrap .tax-item {
    width: 25%;
    height: 50px;
    line-height: 2.8;
  }
  .case-study .tax-wrap .tax-item:not(:last-of-type) {
    margin-right: 1px;
  }
  .case-study .tax-wrap .tax-button {
    font-size: 18px;
  }
  .case-study .tax-wrap .tax-button > span {
    position: relative;
  }
  .case-study .tax-wrap .tax-button > span:before {
    background: center/8px 8px no-repeat url(../../common/img/taxo-arrow.png);
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 120px;
    width: 100%;
  }
  .case-study .tax-wrap .tax-button:hover {
    background-color: #8B7850;
    color: #ffffff;
  }
  .case-study .tax-wrap .tax-button.-active {
    background-color: #8B7850;
    color: #ffffff;
  }
  .case-study .contents {
    margin: 90px 288px 0 288px;
  }
  .case-study .swiper-button-prev {
    left: -10%;
  }
  .case-study .swiper-button-next {
    right: -10%;
  }
}
