@charset "UTF-8";
h1, h2, h3, h4, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: '游ゴシック体','Arial','Proxima Nova','Avenir Next','Roboto', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-0 {
  padding: 0 !important;
}

.breadcrumb-area {
  position: absolute;
  top: 12px;
  left: 40px;
  color: #ffffff;
  font-size: 10px;
  font-family: "Arial";
  font-weight: bold;
}

.breadcrumb-area a {
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
}

.single-footer {
  padding-top: 10px;
}

.single-footer a {
  text-decoration: none;
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.single-footer a:hover {
  opacity: 0.6;
}

.single-footer a span {
  margin-left: 8px;
}

.mainv {
  width: 100%;
  position: relative;
  background: url(../../common/img/header-top.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0;
}

.mainv::before {
  content: ' ';
  background-color: rgba(101, 122, 24, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.mainv h1 {
  position: absolute;
  display: block;
  width: 100%;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.08em;
  line-height: 1.35;
  font-weight: normal;
  font-weight: bold;
  font-family: "Arial";
}

.headline {
  position: relative;
  text-align: center;
  font-family: "Arial";
}

.headline::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -28px;
  display: inline-block;
  width: 100px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: #E6B422;
}

.section-link {
  position: relative;
  height: 750px;
}

.section-link .company-wrap {
  background-color: #F6F6FA;
  width: 80%;
  height: 420px;
}

.section-link .warranty-wrap {
  background-color: #F6F6FA;
  width: 35%;
  height: 400px;
  position: absolute;
  right: 0;
  bottom: -50%;
  z-index: -1;
}

.section-link .img-wrap {
  position: absolute;
  width: 100%;
}

.section-link .arrow-button {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #6AA7B1;
  position: absolute;
}

.section-link .arrow-button > span {
  font-size: 18px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 3.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
}

.section-link .arrow-button > span:nth-child(1) {
  background-color: #ffffff;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
  opacity: 0;
}

.section-link .arrow-button > span:nth-child(2) {
  background-color: #6AA7B1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
  z-index: 999;
}

.section-link .arrow-button span {
  pointer-events: all;
}

.pager {
  text-align: center;
  margin: 30px 0 80px 0;
}

.pager span {
  display: inline-block;
  font-family: 'Avenir Next';
  background-color: #E6B422;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
  margin: 0 6px;
}

.pager a {
  color: #E6B422;
  text-decoration: none;
}

.pager a.page-numbers {
  font-size: 14px;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin: 0 6px;
  line-height: 2;
}

.pager a.page-numbers:hover {
  display: inline-block;
  font-family: 'Avenir Next';
  background-color: #E6B422;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
}

.pager .page-numbers.next {
  color: #ffffff;
  position: relative;
}

.pager .page-numbers.next:hover {
  color: #E6B422;
}

.pager .page-numbers.next:hover:before {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  position: absolute;
  background: center/13px 5px no-repeat url(../../common/img/pager-arrow-white.svg);
}

.pager .page-numbers.next::before {
  background: center/13px 5px no-repeat url(../../common/img/pager-arrow.svg);
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.pager .page-numbers.prev {
  color: #ffffff;
  position: relative;
}

.pager .page-numbers.prev:hover {
  color: #E6B422;
}

.pager .page-numbers.prev:hover:before {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  position: absolute;
  background: center/13px 5px no-repeat url(../../common/img/pager-arrow-left-white.svg);
}

.pager .page-numbers.prev::before {
  background: center/13px 5px no-repeat url(../../common/img/pager-arrow-left.svg);
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .mainv h1 {
    font-size: 30px;
    top: 40%;
  }
  .section-link {
    position: relative;
    height: 800px;
  }
  .section-link .company-wrap {
    background-color: #F6F6FA;
    width: 80%;
  }
  .section-link .warranty-wrap {
    width: 35%;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .section-link .img-wrap {
    position: absolute;
    top: 5%;
    width: 100%;
  }
  .section-link .img-wrap .img-innerwrap {
    display: block;
    margin: 0 20px;
  }
  .section-link .company-img {
    width: 100%;
    height: 340px;
  }
  .section-link .company-img::before {
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .section-link .warranty-img {
    top: 30px;
    width: 100%;
    height: 340px;
  }
  .section-link .warranty-img::before {
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .section-link .company-img .text-wrap, .section-link .warranty-img .text-wrap {
    position: absolute;
    top: 30px;
    left: 15px;
  }
  .section-link .company-img h3, .section-link .warranty-img h3 {
    font-size: 24px;
  }
  .section-link .company-img p, .section-link .warranty-img p {
    font-size: 14px;
    padding-top: 18px;
    padding-right: 40px;
  }
  .section-link .arrow-button {
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 768px) {
  body {
    width: 100%;
    min-width: 1280px;
  }
  .mainv h1 {
    font-size: 34px;
    top: 40%;
  }
  .headline {
    font-size: 32px;
  }
  .arrow-button {
    bottom: 0;
    right: 0;
  }
  .arrow-button:hover {
    cursor: pointer;
  }
  .arrow-button:hover > span:nth-child(1) {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 1000;
  }
  .arrow-button:hover > span:nth-child(2) {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  .section-link {
    position: relative;
  }
  .section-link .company-wrap {
    width: 80%;
    height: 420px;
  }
  .section-link .warranty-wrap {
    width: 35%;
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .section-link .img-wrap {
    position: absolute;
    top: 20%;
    width: 100%;
  }
  .section-link .img-wrap .img-innerwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 95px;
  }
  .section-link .company-img {
    margin-right: 0;
    width: 50%;
    height: 390px;
  }
  .section-link .company-img::before {
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
  }
  .section-link .warranty-img {
    margin-left: 0;
    width: 50%;
    height: 390px;
    top: 60px;
  }
  .section-link .warranty-img::before {
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
  }
  .section-link .company-img, .section-link .warranty-img {
    overflow: hidden;
  }
  .section-link .company-img .img-effect:hover, .section-link .warranty-img .img-effect:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .section-link .company-img .img-effect:hover::before, .section-link .warranty-img .img-effect:hover::before {
    opacity: 1;
  }
  .section-link .company-img .img-effect::before, .section-link .warranty-img .img-effect::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    /* 円形グラデーション */
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 0;
  }
  .section-link .company-img .text-wrap, .section-link .warranty-img .text-wrap {
    position: absolute;
    top: 35px;
    left: 40px;
  }
  .section-link .company-img h3, .section-link .warranty-img h3 {
    font-size: 28px;
  }
  .section-link .company-img span, .section-link .warranty-img span {
    font-size: 18px;
  }
  .section-link .company-img p, .section-link .warranty-img p {
    font-size: 16px;
  }
}
